@model AppUser
<div b-y0dvvv1a1j="" class="topbar">
		<div b-y0dvvv1a1j="" class="topbar-item" data-offset="10px,0px">
			Hoş Geldiniz @Model?.FullName
			<a class="btn btn-primary" asp-controller="Auth" asp-action="Logout">Çıkış yap</a>
		</div>
</div>