@model StoreAddDto
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Mağaza Ekle
        </h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    <form method="post" asp-controller="Store" asp-action="Add">
        <div asp-validation-summary="All"></div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Name">Mağazanın Adı</label>
                <input type="text" class="form-control" placeholder="Mağaza adını girin" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label>Mağaza Tel. No</label>
                <input type="text" class="form-control" placeholder="Mağaza tel. nosunu girin" asp-for="PhoneNumber" />
                <span class="text-danger" class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="form-group mb-1">
                <label for="exampleTextarea">Mağazanın Adresi</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" asp-for="Adress"></textarea>
                <span class="text-danger" class="text-danger" asp-validation-for="Adress"></span>
            </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary mr-2">Ekle</button>
        </div>
        </div>
    </form>
    <!--end::Form-->
</div>