@model List<StockDto>
@section Css{
    <link rel="stylesheet" href="~/css/storeStockStyles.css">
}
<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap">
        <div class="card-title">
            <h3 class="card-label">
                Stoklar
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <!--end::Button-->
        </div>

    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <div class="table-responsive">
            <table id="StocksTable" class="table table-separate table-head-custom table-checkable" product="grid" aria-describedby="kt_datatable_info" style="width: 1150px;">
                        <thead>
                            <tr product="row">
                                <th class="dt-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 31px;"></th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kantin</th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 200px;">Adres</th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 200px;">Telefon Numarası</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sale in Model)
                            {
                                <tr data-stocks-line='@Json.Serialize(sale.StockLines?.ToArray())' product="row" class="even">
                                    <td class="dt-control"></td>
                                    <td>@sale.Name</td>
                                    <td>@sale.Adress</td>
                                    <td>@sale.PhoneNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>
            <!--end: Datatable-->
        </div>
    </div>
</div>

<!--end::Card-->
@section Scripts{
    <script src="~/js/StockIndex.js"></script>
}