@model List<SupplyDto>
@section Css{
    <link rel="stylesheet" href="~/css/supplyIndexStyles.css">
}
<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap">
        <div class="card-title">
            <h3 class="card-label">
                Tedarikler
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <a asp-controller="Supply" asp-action="Add" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>Tedarik Ekle
            </a>
            <!--end::Button-->
        </div>

    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <div class="table-responsive">

            <table id="SuppliesTable" class="table table-separate table-head-custom table-checkable display responsive nowrap" Supply="grid" aria-describedby="kt_datatable_info" style="width:100%">
                <thead>
                    <tr supply="row">
                        <th class="dt-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 31px;"></th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Tedarikçi</th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Tedarik Sayısı</th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Tedarik Edilen Mal Sayısı</th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Toplam Harcama</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supply in Model)
                    {
                        int totalProduct = 0;
                        float totalSpending = 0;
                        foreach (SupplyLine line in supply.SupplyLines)
                        {
                            totalProduct += line.Quantity;
                            totalSpending += line.Total;
                        }
                        <tr stock="row" data-supply-lines='@Json.Serialize(supply.SupplyLines)' class="even">
                            <td class="dt-control"></td>
                            <td>@supply.Supplier</td>
                            <td>@supply.SupplyLines.Count</td>
                            <td>@totalProduct</td>
                            <td>@totalSpending₺</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--end: Datatable-->
        </div>
    </div>
</div>

<!--end::Card-->
@section Scripts{
    <script src="~/js/SupplyIndex.js"></script>
}