@model SaleDto
@section Css{
    <link rel="stylesheet" href="~/css/StockDetailStyles.css">
}
<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap">
        <div class="card-title">
            <h3 class="card-label">
                Satış Detayları
            </h3>
        </div>
        <div class="card-toolbar">
            Satış Tarihi: @DateTimeFormatter.FormatForTr( Model.CreatedDate)
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <div class="table-responsive">
            <!-- Responsive Table Container -->
            <table id="SaleTable" class="table table-separate table-head-custom table-checkable responsive nowrap" Supply="grid" aria-describedby="kt_datatable_info" style="width:100%">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Ürün Miktarı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductLines)
                    {
                        <tr>
                            <td>@item.Product!.Name</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> <!-- End Responsive Table Container -->
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
@section Scripts{
    <script src="~/js/SaleDetail.js"></script>
}